.header {
  height: 30px;
  background: linear-gradient(87.79deg, #FE5000 -50.81%, #FCA92A 156.55%);
  display: flex;
  align-items: center;
}

.button {
  font-size: 20px;
  color: white;
  margin-left: 20px;
}